meta(charset="UTF-8")
meta(content="IE=edge",http-equiv="X-UA-Compatible")
meta(content="width=device-width,initial-scale=1" name="viewport")
meta(content="description" name="You and Us, We are SMAPTA. Ikatan Alumni SMA Negeri 7 Kediri percayakan kepada kami untuk mengakomodasi, menyatukan dan merawat organisasi alumni.")
meta(name="google" content="notranslate")

meta(name="msapplication-tap-highlight" content="no")
title IKASAPTA
link(rel="stylesheet", href="/main.97292821.css")
link(rel="stylesheet", href="/css/ikasapta.css")